<a href="https://colab.research.google.com/github/kojikokojiko/portfoilio/blob/master/M5/val_pickle1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!ls

drive  sample_data

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
%cd /content/drive/My Drive/kaggle/M5/iwase

/content/drive/.shortcut-targets-by-id/18e73-MFsSq-bfNImjjh-axhWYXPQE-7c/kaggle/M5/iwase

In [0]:
import numpy as np
import pandas as pd
import os, sys, gc, time, warnings, pickle, psutil, random
# 切り上げ
from math import ceil

from sklearn.preprocessing import LabelEncoder

warnings.filterwarnings('ignore')

In [0]:
def get_memory_usage():
    return np.round(psutil.Process(os.getpid()).memory_info()[0]/2.**30, 2)

In [0]:
## Simple "Memory profilers" to see memory usage
def get_memory_usage():
    return np.round(psutil.Process(os.getpid()).memory_info()[0]/2.**30, 2) 
        
def sizeof_fmt(num, suffix='B'):
    for unit in ['','Ki','Mi','Gi','Ti','Pi','Ei','Zi']:
        if abs(num) < 1024.0:
            return "%3.1f%s%s" % (num, unit, suffix)
        num /= 1024.0
    return "%.1f%s%s" % (num, 'Yi', suffix)

In [0]:
# :df pandas dataframe to reduce size             # type: pd.DataFrame()
# :verbose                                        # type: bool
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                       df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [0]:
## Merging by concat to not lose dtypes
def merge_by_concat(df1, df2, merge_on):
    merged_gf = df1[merge_on]
    merged_gf = merged_gf.merge(df2, on=merge_on, how='left')
    new_columns = [col for col in list(merged_gf) if col not in merge_on]
    df1 = pd.concat([df1, merged_gf[new_columns]], axis=1)
    return df1

In [0]:
TARGET = 'sales'         # Our main target
END_TRAIN = 1913       # Last day in train set
MAIN_INDEX = ['id','d']  # We can identify item by these columns

In [0]:

train_df = pd.read_csv('../input/sales_train_validation.csv')
# prices_df = pd.read_csv('../input/sell_prices.csv')
# calendar_df = pd.read_csv('../input/calendar.csv')

In [0]:
train_df

                                  id        item_id  ... d_1912 d_1913
0      HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...      1      1
1      HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  ...      0      0
2      HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  ...      1      1
3      HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  ...      7      2
4      HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  ...      2      4
...                              ...            ...  ...    ...    ...
30485    FOODS_3_823_WI_3_validation    FOODS_3_823  ...      0      1
30486    FOODS_3_824_WI_3_validation    FOODS_3_824  ...      1      0
30487    FOODS_3_825_WI_3_validation    FOODS_3_825  ...      1      0
30488    FOODS_3_826_WI_3_validation    FOODS_3_826  ...      1      3
30489    FOODS_3_827_WI_3_validation    FOODS_3_827  ...      0      0

[30490 rows x 1919 columns]

In [0]:
index_columns = ['id','item_id','dept_id','cat_id','store_id','state_id']

In [0]:
grid_df = pd.melt(train_df, 
                  id_vars = index_columns, 
                  var_name = 'd', 
                  value_name = TARGET)

In [0]:
train_df.columns

Index(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'd_1',
       'd_2', 'd_3', 'd_4',
       ...
       'd_1904', 'd_1905', 'd_1906', 'd_1907', 'd_1908', 'd_1909', 'd_1910',
       'd_1911', 'd_1912', 'd_1913'],
      dtype='object', length=1919)

In [0]:
# テストデータ生成
add_grid=pd.DataFrame()

for i in range(1,29):
  temp_df=train_df[index_columns]
  temp_df=temp_df.drop_duplicates()
  temp_df['d']='d_'+str(END_TRAIN+i)
  temp_df[TARGET]=np.nan
  add_grid=pd.concat([add_grid,temp_df])

In [0]:
del train_df

In [0]:
# テストデータ追加
grid_df=pd.concat([grid_df,add_grid]).reset_index(drop=True)

In [0]:
del temp_df,add_grid

In [0]:
for col in index_columns:
    grid_df[col] = grid_df[col].astype('category')

In [0]:
grid_df

                                     id        item_id  ...       d sales
0         HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...     d_1   0.0
1         HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  ...     d_1   0.0
2         HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  ...     d_1   0.0
3         HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  ...     d_1   0.0
4         HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  ...     d_1   0.0
...                                 ...            ...  ...     ...   ...
59181085    FOODS_3_823_WI_3_validation    FOODS_3_823  ...  d_1941   NaN
59181086    FOODS_3_824_WI_3_validation    FOODS_3_824  ...  d_1941   NaN
59181087    FOODS_3_825_WI_3_validation    FOODS_3_825  ...  d_1941   NaN
59181088    FOODS_3_826_WI_3_validation    FOODS_3_826  ...  d_1941   NaN
59181089    FOODS_3_827_WI_3_validation    FOODS_3_827  ...  d_1941   NaN

[59181090 rows x 8 columns]

In [0]:
 prices_df = pd.read_csv('../input/sell_prices.csv')

In [0]:
release_df=prices_df.groupby(['store_id','item_id'])['wm_yr_wk'].agg(['min']).reset_index()

In [0]:
release_df.columns=['store_id','item_id','release']

In [0]:
release_df

      store_id          item_id  release
0         CA_1      FOODS_1_001    11101
1         CA_1      FOODS_1_002    11101
2         CA_1      FOODS_1_003    11101
3         CA_1      FOODS_1_004    11206
4         CA_1      FOODS_1_005    11101
...        ...              ...      ...
30485     WI_3  HOUSEHOLD_2_512    11101
30486     WI_3  HOUSEHOLD_2_513    11311
30487     WI_3  HOUSEHOLD_2_514    11101
30488     WI_3  HOUSEHOLD_2_515    11352
30489     WI_3  HOUSEHOLD_2_516    11101

[30490 rows x 3 columns]

## ここでいうreleaseは、販売が始まったと思われる週を示している。日にちではないことに注意

In [0]:
grid_df

                                     id        item_id  ...       d sales
0         HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...     d_1   0.0
1         HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  ...     d_1   0.0
2         HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  ...     d_1   0.0
3         HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  ...     d_1   0.0
4         HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  ...     d_1   0.0
...                                 ...            ...  ...     ...   ...
59181085    FOODS_3_823_WI_3_validation    FOODS_3_823  ...  d_1941   NaN
59181086    FOODS_3_824_WI_3_validation    FOODS_3_824  ...  d_1941   NaN
59181087    FOODS_3_825_WI_3_validation    FOODS_3_825  ...  d_1941   NaN
59181088    FOODS_3_826_WI_3_validation    FOODS_3_826  ...  d_1941   NaN
59181089    FOODS_3_827_WI_3_validation    FOODS_3_827  ...  d_1941   NaN

[59181090 rows x 8 columns]

In [0]:
grid_df=pd.merge(grid_df,release_df,how='left',on=['store_id','item_id'])

In [0]:
grid_df

                                     id        item_id  ... sales release
0         HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...   0.0   11325
1         HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  ...   0.0   11121
2         HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  ...   0.0   11401
3         HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  ...   0.0   11106
4         HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  ...   0.0   11117
...                                 ...            ...  ...   ...     ...
59181085    FOODS_3_823_WI_3_validation    FOODS_3_823  ...   NaN   11101
59181086    FOODS_3_824_WI_3_validation    FOODS_3_824  ...   NaN   11101
59181087    FOODS_3_825_WI_3_validation    FOODS_3_825  ...   NaN   11101
59181088    FOODS_3_826_WI_3_validation    FOODS_3_826  ...   NaN   11331
59181089    FOODS_3_827_WI_3_validation    FOODS_3_827  ...   NaN   11405

[59181090 rows x 9 columns]

In [0]:
 calendar_df = pd.read_csv('../input/calendar.csv')

In [0]:
calendar_df

            date  wm_yr_wk    weekday  ...  snap_CA  snap_TX  snap_WI
0     2011-01-29     11101   Saturday  ...        0        0        0
1     2011-01-30     11101     Sunday  ...        0        0        0
2     2011-01-31     11101     Monday  ...        0        0        0
3     2011-02-01     11101    Tuesday  ...        1        1        0
4     2011-02-02     11101  Wednesday  ...        1        0        1
...          ...       ...        ...  ...      ...      ...      ...
1964  2016-06-15     11620  Wednesday  ...        0        1        1
1965  2016-06-16     11620   Thursday  ...        0        0        0
1966  2016-06-17     11620     Friday  ...        0        0        0
1967  2016-06-18     11621   Saturday  ...        0        0        0
1968  2016-06-19     11621     Sunday  ...        0        0        0

[1969 rows x 14 columns]

In [0]:
calendar_df=calendar_df[['wm_yr_wk','d']]

In [0]:
calendar_df

      wm_yr_wk       d
0        11101     d_1
1        11101     d_2
2        11101     d_3
3        11101     d_4
4        11101     d_5
...        ...     ...
1964     11620  d_1965
1965     11620  d_1966
1966     11620  d_1967
1967     11621  d_1968
1968     11621  d_1969

[1969 rows x 2 columns]

In [0]:
grid_df=pd.merge(grid_df,calendar_df,how='left',on='d')

In [0]:

grid_df

                                     id        item_id  ... release wm_yr_wk
0         HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...   11325    11101
1         HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  ...   11121    11101
2         HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  ...   11401    11101
3         HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  ...   11106    11101
4         HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  ...   11117    11101
...                                 ...            ...  ...     ...      ...
59181085    FOODS_3_823_WI_3_validation    FOODS_3_823  ...   11101    11617
59181086    FOODS_3_824_WI_3_validation    FOODS_3_824  ...   11101    11617
59181087    FOODS_3_825_WI_3_validation    FOODS_3_825  ...   11101    11617
59181088    FOODS_3_826_WI_3_validation    FOODS_3_826  ...   11331    11617
59181089    FOODS_3_827_WI_3_validation    FOODS_3_827  ...   11405    11617

[59181090 rows x 10 columns]

In [0]:
del calendar_df

In [0]:

grid_df = grid_df[grid_df['wm_yr_wk']>=grid_df['release']]

In [0]:
grid_df=grid_df.reset_index(drop=True)

In [0]:
grid_df['release']=grid_df['release']-grid_df['release'].min()

In [0]:
grid_df['release']=grid_df['release'].astype(np.int16)

In [0]:
grid_df

                                     id        item_id  ... release wm_yr_wk
0         HOBBIES_1_008_CA_1_validation  HOBBIES_1_008  ...       0    11101
1         HOBBIES_1_009_CA_1_validation  HOBBIES_1_009  ...       0    11101
2         HOBBIES_1_010_CA_1_validation  HOBBIES_1_010  ...       0    11101
3         HOBBIES_1_012_CA_1_validation  HOBBIES_1_012  ...       0    11101
4         HOBBIES_1_015_CA_1_validation  HOBBIES_1_015  ...       0    11101
...                                 ...            ...  ...     ...      ...
46881672    FOODS_3_823_WI_3_validation    FOODS_3_823  ...       0    11617
46881673    FOODS_3_824_WI_3_validation    FOODS_3_824  ...       0    11617
46881674    FOODS_3_825_WI_3_validation    FOODS_3_825  ...       0    11617
46881675    FOODS_3_826_WI_3_validation    FOODS_3_826  ...     230    11617
46881676    FOODS_3_827_WI_3_validation    FOODS_3_827  ...     304    11617

[46881677 rows x 10 columns]

In [0]:
grid_df.to_pickle('../iwase_output/val/val_grid_part_1.pkl')

In [0]:
grid_df

                                     id        item_id  ... release wm_yr_wk
0         HOBBIES_1_008_CA_1_validation  HOBBIES_1_008  ...       0    11101
1         HOBBIES_1_009_CA_1_validation  HOBBIES_1_009  ...       0    11101
2         HOBBIES_1_010_CA_1_validation  HOBBIES_1_010  ...       0    11101
3         HOBBIES_1_012_CA_1_validation  HOBBIES_1_012  ...       0    11101
4         HOBBIES_1_015_CA_1_validation  HOBBIES_1_015  ...       0    11101
...                                 ...            ...  ...     ...      ...
46881672    FOODS_3_823_WI_3_validation    FOODS_3_823  ...       0    11617
46881673    FOODS_3_824_WI_3_validation    FOODS_3_824  ...       0    11617
46881674    FOODS_3_825_WI_3_validation    FOODS_3_825  ...       0    11617
46881675    FOODS_3_826_WI_3_validation    FOODS_3_826  ...     230    11617
46881676    FOODS_3_827_WI_3_validation    FOODS_3_827  ...     304    11617

[46881677 rows x 10 columns]