<a href="https://colab.research.google.com/github/kojikokojiko/portfoilio/blob/master/M5/val_shop_id%E5%88%86%E3%81%91%2Bmean_enc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:


%cd /content/drive/My Drive/kaggle/M5/iwase

/content/drive/.shortcut-targets-by-id/18e73-MFsSq-bfNImjjh-axhWYXPQE-7c/kaggle/M5/iwase

In [0]:
# General imports
import numpy as np
import pandas as pd
import os, sys, gc, time, warnings, pickle, psutil, random

from math import ceil

from sklearn.preprocessing import LabelEncoder

warnings.filterwarnings('ignore')

In [0]:

BASE='../iwase_output/val/val_grid_part_1.pkl'
PRICE='../iwase_output/val/val_grid_part_2.pkl'
CALENDAR='../iwase_output/val/val_grid_part_3.pkl'

In [0]:
 df = pd.concat([pd.read_pickle(BASE),
                    pd.read_pickle(PRICE).iloc[:,2:],
                    pd.read_pickle(CALENDAR).iloc[:,2:]],
                    axis=1)

In [0]:
df

                                     id        item_id  ... tm_dw tm_w_end
0         HOBBIES_1_008_CA_1_validation  HOBBIES_1_008  ...     5        1
1         HOBBIES_1_009_CA_1_validation  HOBBIES_1_009  ...     5        1
2         HOBBIES_1_010_CA_1_validation  HOBBIES_1_010  ...     5        1
3         HOBBIES_1_012_CA_1_validation  HOBBIES_1_012  ...     5        1
4         HOBBIES_1_015_CA_1_validation  HOBBIES_1_015  ...     5        1
...                                 ...            ...  ...   ...      ...
46881672    FOODS_3_823_WI_3_validation    FOODS_3_823  ...     6        1
46881673    FOODS_3_824_WI_3_validation    FOODS_3_824  ...     6        1
46881674    FOODS_3_825_WI_3_validation    FOODS_3_825  ...     6        1
46881675    FOODS_3_826_WI_3_validation    FOODS_3_826  ...     6        1
46881676    FOODS_3_827_WI_3_validation    FOODS_3_827  ...     6        1

[46881677 rows x 35 columns]

In [0]:


def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                       df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [0]:
df=reduce_mem_usage(df)

Mem. usage decreased to 3175.88 Mb (36.0% reduction)

In [0]:
df

                                     id        item_id  ... tm_dw tm_w_end
0         HOBBIES_1_008_CA_1_validation  HOBBIES_1_008  ...     5        1
1         HOBBIES_1_009_CA_1_validation  HOBBIES_1_009  ...     5        1
2         HOBBIES_1_010_CA_1_validation  HOBBIES_1_010  ...     5        1
3         HOBBIES_1_012_CA_1_validation  HOBBIES_1_012  ...     5        1
4         HOBBIES_1_015_CA_1_validation  HOBBIES_1_015  ...     5        1
...                                 ...            ...  ...   ...      ...
46881672    FOODS_3_823_WI_3_validation    FOODS_3_823  ...     6        1
46881673    FOODS_3_824_WI_3_validation    FOODS_3_824  ...     6        1
46881674    FOODS_3_825_WI_3_validation    FOODS_3_825  ...     6        1
46881675    FOODS_3_826_WI_3_validation    FOODS_3_826  ...     6        1
46881676    FOODS_3_827_WI_3_validation    FOODS_3_827  ...     6        1

[46881677 rows x 35 columns]

In [0]:
STORE_IDS=list(df['store_id'].unique())
STORE_IDS

['CA_1',
 'CA_2',
 'CA_3',
 'CA_4',
 'TX_1',
 'TX_2',
 'TX_3',
 'WI_1',
 'WI_2',
 'WI_3']

In [0]:
# リセットインデックスはあえてしない
for store in STORE_IDS:
  temp_df=df[df["store_id"]==store]
  exec('df_'+store+'=temp_df')
  del temp_df
  gc.collect()
  exec("df_"+store+".to_pickle('../iwase_output/val/val_"+store+".pkl')")
  exec("del df_"+store)
  gc.collect()

  # exec('df_'+store+'=grid_df[grid_df["store_id"]=='+store+']')

In [0]:
# for store in STORE_IDS:
#   exec("df_"+store+".to_pickle('"+store+".pkl')")
#   exec("del df_"+store)
#   gc.collect()

In [0]:
STORE_IDS

['CA_1',
 'CA_2',
 'CA_3',
 'CA_4',
 'TX_1',
 'TX_2',
 'TX_3',
 'WI_1',
 'WI_2',
 'WI_3']

aggregeation特徴量をついかしわすれていたので、ついかしてpklファイル上書き

In [0]:
# STORE_IDS=['CA_1',
#  'CA_2',
#  'CA_3',
#  'CA_4',
#  'TX_1',
#  'TX_2',
#  'TX_3',
#  'WI_1',
#  'WI_2',
#  'WI_3']

In [0]:
icols =  [
            ['state_id'],
            ['store_id'],
            ['cat_id'],
            ['dept_id'],
            ['state_id', 'cat_id'],
            ['state_id', 'dept_id'],
            ['store_id', 'cat_id'],
            ['store_id', 'dept_id'],
            ['item_id'],
            ['item_id', 'state_id'],
            ['item_id', 'store_id']
            ]

In [0]:
TARGET = 'sales'

In [0]:
for store in STORE_IDS:
  exec("grid_df=pd.read_pickle('../iwase_output/val/val_"+store+".pkl')")
  print("LOADED_"+store)
  for col in icols:
    print('Encoding', col)
    col_name = '_'+'_'.join(col)+'_'
    grid_df['enc'+col_name+'mean'] = grid_df.groupby(col)[TARGET].transform('mean').astype(np.float16)
    grid_df['enc'+col_name+'std'] = grid_df.groupby(col)[TARGET].transform('std').astype(np.float16)
  exec("grid_df.to_pickle('../iwase_output/val/val_"+store+".pkl')")
  print('completed_'+store)
  del grid_df
  gc.collect()

LOADED_CA_1
Encoding ['state_id']
Encoding ['store_id']
Encoding ['cat_id']
Encoding ['dept_id']
Encoding ['state_id', 'cat_id']
Encoding ['state_id', 'dept_id']
Encoding ['store_id', 'cat_id']
Encoding ['store_id', 'dept_id']
Encoding ['item_id']
Encoding ['item_id', 'state_id']
Encoding ['item_id', 'store_id']
completed_CA_1
LOADED_CA_2
Encoding ['state_id']
Encoding ['store_id']
Encoding ['cat_id']
Encoding ['dept_id']
Encoding ['state_id', 'cat_id']
Encoding ['state_id', 'dept_id']
Encoding ['store_id', 'cat_id']
Encoding ['store_id', 'dept_id']
Encoding ['item_id']
Encoding ['item_id', 'state_id']
Encoding ['item_id', 'store_id']
completed_CA_2
LOADED_CA_3
Encoding ['state_id']
Encoding ['store_id']
Encoding ['cat_id']
Encoding ['dept_id']
Encoding ['state_id', 'cat_id']
Encoding ['state_id', 'dept_id']
Encoding ['store_id', 'cat_id']
Encoding ['store_id', 'dept_id']
Encoding ['item_id']
Encoding ['item_id', 'state_id']
Encoding ['item_id', 'store_id']
completed_CA_3
LOADED_CA_4
Encoding ['state_id']
Encoding ['store_id']
Encoding ['cat_id']
Encoding ['dept_id']
Encoding ['state_id', 'cat_id']
Encoding ['state_id', 'dept_id']
Encoding ['store_id', 'cat_id']
Encoding ['store_id', 'dept_id']
Encoding ['item_id']
Encoding ['item_id', 'state_id']
Encoding ['item_id', 'store_id']
completed_CA_4
LOADED_TX_1
Encoding ['state_id']
Encoding ['store_id']
Encoding ['cat_id']
Encoding ['dept_id']
Encoding ['state_id', 'cat_id']
Encoding ['state_id', 'dept_id']
Encoding ['store_id', 'cat_id']
Encoding ['store_id', 'dept_id']
Encoding ['item_id']
Encoding ['item_id', 'state_id']
Encoding ['item_id', 'store_id']
completed_TX_1
LOADED_TX_2
Encoding ['state_id']
Encoding ['store_id']
Encoding ['cat_id']
Encoding ['dept_id']
Encoding ['state_id', 'cat_id']
Encoding ['state_id', 'dept_id']
Encoding ['store_id', 'cat_id']
Encoding ['store_id', 'dept_id']
Encoding ['item_id']
Encoding ['item_id', 'state_id']
Encoding ['item_id', 'store_id']
completed_TX_2
LOADED_TX_3
Encoding ['state_id']
Encoding ['store_id']
Encoding ['cat_id']
Encoding ['dept_id']
Encoding ['state_id', 'cat_id']
Encoding ['state_id', 'dept_id']
Encoding ['store_id', 'cat_id']
Encoding ['store_id', 'dept_id']
Encoding ['item_id']
Encoding ['item_id', 'state_id']
Encoding ['item_id', 'store_id']
completed_TX_3
LOADED_WI_1
Encoding ['state_id']
Encoding ['store_id']
Encoding ['cat_id']
Encoding ['dept_id']
Encoding ['state_id', 'cat_id']
Encoding ['state_id', 'dept_id']
Encoding ['store_id', 'cat_id']
Encoding ['store_id', 'dept_id']
Encoding ['item_id']
Encoding ['item_id', 'state_id']
Encoding ['item_id', 'store_id']
completed_WI_1
LOADED_WI_2
Encoding ['state_id']
Encoding ['store_id']
Encoding ['cat_id']
Encoding ['dept_id']
Encoding ['state_id', 'cat_id']
Encoding ['state_id', 'dept_id']
Encoding ['store_id', 'cat_id']
Encoding ['store_id', 'dept_id']
Encoding ['item_id']
Encoding ['item_id', 'state_id']
Encoding ['item_id', 'store_id']
completed_WI_2
LOADED_WI_3
Encoding ['state_id']
Encoding ['store_id']
Encoding ['cat_id']
Encoding ['dept_id']
Encoding ['state_id', 'cat_id']
Encoding ['state_id', 'dept_id']
Encoding ['store_id', 'cat_id']
Encoding ['store_id', 'dept_id']
Encoding ['item_id']
Encoding ['item_id', 'state_id']
Encoding ['item_id', 'store_id']
completed_WI_3

In [0]:
pd.read_pickle('../iwase_output/val/val_WI_3.pkl')

                                     id  ... enc_item_id_store_id_std
9773      HOBBIES_1_004_WI_3_validation  ...                 2.421875
9774      HOBBIES_1_008_WI_3_validation  ...                 3.908203
9775      HOBBIES_1_009_WI_3_validation  ...                 1.748047
9776      HOBBIES_1_010_WI_3_validation  ...                 0.972168
9777      HOBBIES_1_012_WI_3_validation  ...                 0.746582
...                                 ...  ...                      ...
46881672    FOODS_3_823_WI_3_validation  ...                 1.176758
46881673    FOODS_3_824_WI_3_validation  ...                 0.819824
46881674    FOODS_3_825_WI_3_validation  ...                 1.385742
46881675    FOODS_3_826_WI_3_validation  ...                 1.250000
46881676    FOODS_3_827_WI_3_validation  ...                 1.964844

[4772041 rows x 57 columns]