<a href="https://colab.research.google.com/github/kojikokojiko/portfoilio/blob/master/M5/val_%E8%AA%BF%E6%95%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:

%cd /content/drive/My Drive/kaggle/M5/iwase

/content/drive/.shortcut-targets-by-id/18e73-MFsSq-bfNImjjh-axhWYXPQE-7c/kaggle/M5/iwase

In [0]:

import  lightgbm as lgb
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [0]:
STORE_IDS=[
 'CA_1',
 'CA_2',
 'CA_3',
 'CA_4',
 'TX_1',
 'TX_2',
 'TX_3',
 'WI_1',
 'WI_2',
 'WI_3']

In [0]:
category_columns=['id',
                  'item_id',
                  'dept_id',
                  'store_id',
                  'cat_id',
                  'state_id',
                  'snap_CA',
                  'snap_TX',
                  'snap_WI',	
                  'event_name_1',
                  'event_type_1',	
                  'event_name_2',	
                  'event_type_2'
                  ]

In [0]:
encode_columns=[
                'item_id',
                'dept_id', 
                'cat_id']

In [0]:
for store in STORE_IDS:

  exec("grid_df=pd.read_pickle('../iwase_output/val/val_"+store+".pkl')")
  print("LOADED_"+store)
  for column in encode_columns:
    le=LabelEncoder()
    le.fit(grid_df[column])
    grid_df[column]=le.transform(grid_df[column])
    # exec('encode_'+ column +'=le.classes_')
    # print('encode_'+column)

  for i in category_columns:
    grid_df[i]=grid_df[i].astype('category')
  

  # print(grid_df.info())
  # print(grid_df)
  exec("grid_df.to_pickle('../iwase_output/val/val_"+store+".pkl')")

LOADED_CA_1
LOADED_CA_2
LOADED_CA_3
LOADED_CA_4
LOADED_TX_1
LOADED_TX_2
LOADED_TX_3
LOADED_WI_1
LOADED_WI_2
LOADED_WI_3

In [0]:
grid_df=pd.read_pickle('../iwase_output/val/val_CA_1.pkl')

In [0]:
grid_df

                                     id  ... enc_item_id_store_id_std
0         HOBBIES_1_008_CA_1_validation  ...                 9.117188
1         HOBBIES_1_009_CA_1_validation  ...                 2.013672
2         HOBBIES_1_010_CA_1_validation  ...                 0.921875
3         HOBBIES_1_012_CA_1_validation  ...                 0.649414
4         HOBBIES_1_015_CA_1_validation  ...                 7.351562
...                                 ...  ...                      ...
46854231    FOODS_3_823_CA_1_validation  ...                 1.379883
46854232    FOODS_3_824_CA_1_validation  ...                 1.202148
46854233    FOODS_3_825_CA_1_validation  ...                 1.356445
46854234    FOODS_3_826_CA_1_validation  ...                 1.855469
46854235    FOODS_3_827_CA_1_validation  ...                 3.599609

[4788267 rows x 57 columns]

In [0]:
grid_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4873639 entries, 0 to 47707955
Data columns (total 57 columns):
 #   Column                     Dtype
---  ------                     -----
 0   id                         category
 1   item_id                    category
 2   dept_id                    category
 3   cat_id                     category
 4   store_id                   category
 5   state_id                   category
 6   d                          object
 7   sales                      float16
 8   release                    int16
 9   wm_yr_wk                   int16
 10  sell_price                 float16
 11  price_max                  float16
 12  price_min                  float16
 13  price_std                  float16
 14  price_mean                 float16
 15  price_norm                 float16
 16  price_nunique              float16
 17  item_nunique               int16
 18  price_momentum             float16
 19  price_momentum_m           float16
 20  price_momentum_y           float16
 21  event_name_1               category
 22  event_type_1               category
 23  event_name_2               category
 24  event_type_2               category
 25  snap_CA                    category
 26  snap_TX                    category
 27  snap_WI                    category
 28  tm_d                       int8
 29  tm_w                       int8
 30  tm_m                       int8
 31  tm_y                       int8
 32  tm_wm                      int8
 33  tm_dw                      int8
 34  tm_w_end                   int8
 35  enc_state_id_mean          float16
 36  enc_state_id_std           float16
 37  enc_store_id_mean          float16
 38  enc_store_id_std           float16
 39  enc_cat_id_mean            float16
 40  enc_cat_id_std             float16
 41  enc_dept_id_mean           float16
 42  enc_dept_id_std            float16
 43  enc_state_id_cat_id_mean   float16
 44  enc_state_id_cat_id_std    float16
 45  enc_state_id_dept_id_mean  float16
 46  enc_state_id_dept_id_std   float16
 47  enc_store_id_cat_id_mean   float16
 48  enc_store_id_cat_id_std    float16
 49  enc_store_id_dept_id_mean  float16
 50  enc_store_id_dept_id_std   float16
 51  enc_item_id_mean           float16
 52  enc_item_id_std            float16
 53  enc_item_id_state_id_mean  float16
 54  enc_item_id_state_id_std   float16
 55  enc_item_id_store_id_mean  float16
 56  enc_item_id_store_id_std   float16
dtypes: category(13), float16(33), int16(3), int8(7), object(1)
memory usage: 512.9+ MB

In [0]:
CA_1.columns

Index(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'd',
       'sales', 'release', 'wm_yr_wk', 'sell_price', 'price_max', 'price_min',
       'price_std', 'price_mean', 'price_norm', 'price_nunique',
       'item_nunique', 'price_momentum', 'price_momentum_m',
       'price_momentum_y', 'event_name_1', 'event_type_1', 'event_name_2',
       'event_type_2', 'snap_CA', 'snap_TX', 'snap_WI', 'tm_d', 'tm_w', 'tm_m',
       'tm_y', 'tm_wm', 'tm_dw', 'tm_w_end', 'enc_state_id_mean',
       'enc_state_id_std', 'enc_store_id_mean', 'enc_store_id_std',
       'enc_cat_id_mean', 'enc_cat_id_std', 'enc_dept_id_mean',
       'enc_dept_id_std', 'enc_state_id_cat_id_mean',
       'enc_state_id_cat_id_std', 'enc_state_id_dept_id_mean',
       'enc_state_id_dept_id_std', 'enc_store_id_cat_id_mean',
       'enc_store_id_cat_id_std', 'enc_store_id_dept_id_mean',
       'enc_store_id_dept_id_std', 'enc_item_id_mean', 'enc_item_id_std',
       'enc_item_id_state_id_mean', 'enc_item_id_state_id_std',
       'enc_item_id_store_id_mean', 'enc_item_id_store_id_std', 'sales_lag_28',
       'sales_lag_29', 'sales_lag_30', 'sales_lag_31', 'sales_lag_32',
       'sales_lag_33', 'sales_lag_34', 'sales_lag_35', 'sales_lag_36',
       'sales_lag_37', 'sales_lag_38', 'sales_lag_39', 'sales_lag_40',
       'sales_lag_41', 'sales_lag_42', 'sales_lag_364', 'sales_lag_365',
       'sales_lag_366', 'sales_lag_728', 'sales_lag_729', 'sales_lag_730',
       'rolling_mean_28_7', 'rolling_std_28_7', 'rolling_mean_28_14',
       'rolling_std_28_14', 'rolling_mean_28_30', 'rolling_std_28_30',
       'rolling_mean_28_60', 'rolling_std_28_60', 'rolling_mean_28_180',
       'rolling_std_28_180', 'rolling_mean_1_7', 'rolling_mean_1_14',
       'rolling_mean_1_30', 'rolling_mean_1_60', 'rolling_mean_7_7',
       'rolling_mean_7_14', 'rolling_mean_7_30', 'rolling_mean_7_60',
       'rolling_mean_14_7', 'rolling_mean_14_14', 'rolling_mean_14_30',
       'rolling_mean_14_60'],
      dtype='object')

In [0]:
train_columns=[
#  'id', 

# 　この三つはlabelencodingする必要あり　　　　
 'item_id',
 'dept_id', 
 'cat_id',

#  'store_id',
#  'state_id',
#  'd', 
 'sales', 
 'release', 
#  'wm_yr_wk',
 'sell_price',

 'price_max', 
 'price_min',
 'price_std',
 'price_mean', 
 'price_norm', 
 'price_nunique',
 'item_nunique',
 'price_momentum',
 'price_momentum_m',
 'price_momentum_y', 
 'event_name_1', 
 'event_type_1', 
 'event_name_2',
 'event_type_2', 
#  snapは店ごとに選択する
# for文内で処理
 'snap_CA', 
 'snap_TX', 
 'snap_WI', 

 'tm_d', 
 'tm_w', 
 'tm_m',
 'tm_y', 
 'tm_wm', 
 'tm_dw', 
 'tm_w_end',

 'enc_state_id_mean',
 'enc_state_id_std',
 'enc_store_id_mean', 
 'enc_store_id_std',
 'enc_cat_id_mean', 
 'enc_cat_id_std', 
 'enc_dept_id_mean',
 'enc_dept_id_std', 
 'enc_state_id_cat_id_mean',
 'enc_state_id_cat_id_std',
 'enc_state_id_dept_id_mean',
 'enc_state_id_dept_id_std', 
 'enc_store_id_cat_id_mean',
 'enc_store_id_cat_id_std', 
 'enc_store_id_dept_id_mean',
 'enc_store_id_dept_id_std', 
 'enc_item_id_mean',
 'enc_item_id_std',
 'enc_item_id_state_id_mean', 
 'enc_item_id_state_id_std',
 'enc_item_id_store_id_mean', 
 'enc_item_id_store_id_std', 


 'sales_lag_28',
 'sales_lag_29', 
 'sales_lag_30',
 'sales_lag_31',
 'sales_lag_32',
 'sales_lag_33', 
 'sales_lag_34',
 'sales_lag_35',
 'sales_lag_36',
 'sales_lag_37', 
 'sales_lag_38', 
 'sales_lag_39',
 'sales_lag_40',
 'sales_lag_41', 
 'sales_lag_42',
 'sales_lag_364', 
 'sales_lag_365' ,
 'sales_lag_366',
 'sales_lag_728',
 'sales_lag_729', 
 'sales_lag_730',


 'rolling_mean_28_7', 
 'rolling_std_28_7', 
 'rolling_mean_28_14',
 'rolling_std_28_14', 
 'rolling_mean_28_30',
 'rolling_std_28_30',
 'rolling_mean_28_60', 
 'rolling_std_28_60', 
 'rolling_mean_28_180',
 'rolling_std_28_180',
 'rolling_mean_1_7', 
 'rolling_mean_1_14',
 'rolling_mean_1_30', 
 'rolling_mean_1_60',
 'rolling_mean_7_7',
 'rolling_mean_7_14', 
 'rolling_mean_7_30', 
 'rolling_mean_7_60',
 'rolling_mean_14_7',
 'rolling_mean_14_14',
 'rolling_mean_14_30',
 'rolling_mean_14_60']

In [0]:
encode_columns=['item_id',
 'dept_id', 
 'cat_id',]

In [0]:
# for store in STORE_IDS:
#   exec("grid_df=pd.read_pickle('../iwase_output/"+store+".pkl')")
#   exec("lag_grid_df=pd.read_pickle('../iwase_output/lag_"+store+".pkl')")
#   grid_df=pd.merge(grid_df,lag_grid_df,on=['d','id','sales'],how='left')
#   grid_df=grid_df[train_columns]
  
#   for column in encode_columns:
#     le=LabelEncoder()
#     le.fit(grid_df[column])
#     grid_df[column]=le.transform(grid_df[column])
#     # exec('encode_'+ column +'=le.classes_')

SyntaxError: ignored

In [0]:
# 10+22+10+2+6

50